.container{
    text-align: center;
    padding: 10px 0px 0px 11px;
    margin-top: 400px;
    margin-bottom: 30px;

}

.navbar{
    position: fixed;
    width: 100%;
}

#VPS{
    color: rgba(24, 223, 130, 0.904); 
    margin-left: 100px;
    margin-top: 600px;
}
#Front{ color: rgba(24, 223, 130, 0.904); 
    margin-left: 100px;

}


.parallax{    background-image: url("https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    min-height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.home{
    background-color: hotpink;
    border: solid 5px rebeccapurple;
    padding: 50px;
}

p{
    font-size: 30px;
    font-style: italic;
    
}

li{
    display: inline-block;
}

#Education{
    background-color: rgb(90, 268, 527);
    text-align: left;
    padding: 50px;
}

.About{
    background-color :rgba(24, 223, 130, 0.904);
    border:solid 5px navy  ;
    text-align: left;
    background-image: url('https://media.istockphoto.com/photos/day-picture-id1034861128?k=6&m=1034861128&s=612x612&w=0&h=ZFe0_YJK4wz3Naw4IqhMdWKSPpOzABK52txkIJ-dOpw=');
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.edupara{

    color: whitesmoke;
    padding: 50px;
    background-image: url('https://wallpaperaccess.com/full/2089149.jpg');
}

.dropbtn {
    background-color: #c9d3cf;
    color: white;
    margin-top: 7px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #1270bd;}

  .pro{

    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq2bv2wKAky-YTtLASWkLd6ZjKJHP8_GEnFw&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: yellow;
    text-align: center;
    
  }
  #prohead{
      font-size: 50px;
  }

  .profilo{
      font-size: 30px;
      color: rgb(15, 255, 115);
  }

  .profilo:hover{
      color: greenyellow;
  }
  
  .dropdown:hover .dropdown-content{
      display: block;
  }

  .connections{
      background-color: rgba(149, 155, 155, 0.959);
      text-align: center;

  }

  .con-items{

    display: inline-block;

    padding:  15px;
    margin-bottom: 33px;
    
  }